<nav class="navbar navbar-expand-lg">
    <div class="container-fluid px-5">
        <a class="navbar-brand fs-2 d-flex align-items-center" href="/"><span class="py-1 px-3 rounded fs-1 me-2 fw-bold" style="background-color: red;">M</span>MovieHub</a>
        <button class="navbar-toggler py-1 px-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background-color: red;">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/view">View</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add">Add</a>
                </li>
            </ul>
            <form class="d-flex col-4 col-sm-12 col-lg-4" role="search">
                <input class="form-control rounded-end-0" type="search" placeholder="Search..." aria-label="Search">
                <button class="btn rounded-start-0 px-3 py-2" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>